{% extends 'front.html.twig' %}

{% block front %}
	<div class="row">
		<div class="col-12">
			<h3 class="mb-5">Invités</h3>
			<div class="guests d-flex flex-column">
				<a href="{{ path ('admin_add_guest') }}" class="btn btn-primary" role="button" aria-label="Ajouter un invité">Ajouter un invité
					<i class="fas fa-user-plus"></i>
				</a>
				{% for guest in guests %}
					<div class="guest py-5 d-flex justify-content-between align-items-center">
						<h4>{{ guest.name }}
							({{ guest.medias|length }})</h4>
						<a href="{{ path('guest', {id: guest.id}) }}">découvrir</a>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}
